/* ===== VARIABLES ===== */
:root {
  --primary: #0284C7;
  --dark: #0F172A;
  --white: #FFFFFF;
  --gray-100: #F1F5F9;
}

/* ===== RESET BÁSICO ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
